<div>
 <%= flash[:notice] %>
</div>

<div class="container">
 <div class="row">
  <div class="col-md-3">

<%= render 'users/list', user:@user, book:@booknew %>

  </div>

<div class="col-md-9">
<h2>Book detail</h2>
<tabel class="table">
 <tbody>
   <tr>


<td><%= link_to user_path(@user.id) do %>
<%= image_tag @book.user.get_profile_image(100,100) %>
<%= @book.user.name %>
<% end %>
</td>
<td><%= link_to @book_path do %>
<%= @book.title %>
<% end %>
</td>
<td><%= @book.body %></td>


<% if @book.user == current_user %>
  <td>
  <button type="button" class="btn btn-outline-success">
  <%= link_to "Edit", edit_book_path(@book.id) %>
  </button>
  </td>
  <td>
  <button type="button" class="btn btn-outline-danger">
  <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか?" %>
  </button>
  </td>
<% end %>
</tr>
 </tbody>

</tabel>
</div>

</div>
</div>